:root {
    --theme-c-accent: #8700ff;
    --theme-c-accent-lighter: #9f32ff;
    --theme-cl-background: #ffffff;
    --theme-cd-background: #181818;
    --theme-cl-background-soft: #dddddd50;
    --theme-cd-background-soft: #25252550;
    --theme-cl-border-hover: rgba(60, 60, 60, 0.29);
    --theme-cd-border-hover: rgba(84, 84, 84, 0.65);
    --theme-cl-border: rgba(60, 60, 60, 0.12);
    --theme-cd-border: rgba(84, 84, 84, 0.48);
    --theme-cl-heading: var(--theme-c-accent);
    --theme-cd-heading: var(--theme-c-accent);
    --theme-cl-text: rgba(60, 60, 60, 0.66);
    --theme-cd-text: rgba(235, 235, 235, 0.64);
    --theme-cl-text-hover: rgba(60, 60, 60, 0.66);
    --theme-cd-text-hover: rgba(235, 235, 235, 0.64);
    --theme-cl-button: var(--theme-c-accent);
    --theme-cd-button: var(--theme-c-accent);
    --theme-cl-button-hover: var(--theme-c-accent-lighter);
    --theme-cd-button-hover: var(--theme-c-accent-lighter);
}

:root {
    --color-background: var(--theme-cl-background);
    --color-background-soft: var(--theme-cl-background-soft);
    --color-border: var(--theme-cl-border);
    --color-border-hover: var(--theme-cl-border-hover);
    --color-heading: var(--theme-cl-heading);
    --color-text: var(--theme-cl-text);
    --color-text-hover: var(--theme-cl-text-hover);
    --color-input-background: var(--theme-cl-background);
    --color-input-border: var(--theme-cl-border);
    --color-button: var(--theme-cl-button);
    --color-button-hover: var(--theme-cl-button-hover);
    --color-button-disabled: var(--theme-cl-button-hover);
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-background: var(--theme-cd-background);
        --color-background-soft: var(--theme-cd-background-soft);
        --color-border: var(--theme-cd-border);
        --color-border-hover: var(--theme-cd-border-hover);
        --color-heading: var(--theme-cd-heading);
        --color-text: var(--theme-cd-text);
        --color-text-hover: var(--theme-cd-text-hover);
        --color-input-background: var(--theme-cd-background);
        --color-input-border: var(--theme-cd-border);
        --color-button: var(--theme-cd-button);
        --color-button-hover: var(--theme-cd-button-hover);
        --color-button-disabled: var(--theme-cd-button-hover);
    }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}